@model Labs.ViewModels.LoginViewModel
@*
    <form asp-action="Login" asp-controller="Account">
        @Html.ValidationSummary()
        <div asp-validation-summary="ModelOnly" />
        <div>
            <div class="form-group">
                <label asp-for="Email">Введите Email</label>
                <input type="text" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Введите пароль</label>
                <input asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-outline-dark" />
            </div>
        </div>
    </form> *@

<div class="form-login">
    <form class="form-signin" asp-action="Login" asp-controller="Account">
        @Html.ValidationSummary()
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Вход на сайт</h1>
        </div>

        <div class="form-label-group">
            <input asp-for="Email" type="email" id="Email" class="form-control" placeholder="Email" required autofocus>
            <label asp-for="Email" for="Email">Email</label>
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-label-group">
            <input asp-for="Password" type="password" id="Password" class="form-control" placeholder="Пароль" required>
            <label asp-for="Password" for="Password">Пароль</label>
            <span asp-validation-for="Password"></span>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
</div>