@model Labs.ViewModels.RegisterViewModel
<div class="form-login">
    <form class="form-signin" asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
        @Html.ValidationSummary()
        <div asp-validation-summary="ModelOnly"></div>
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
        </div>

        <div class="form-label-group">
            <input asp-for="Email" maxlength="50" type="email" id="Email" class="form-control" placeholder="Email" required autofocus>
            <label asp-for="Email" for="Email">Email</label>
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-label-group">
            <input asp-for="Password" type="password" id="Password" class="form-control" placeholder="Пароль" required>
            <label asp-for="Password" for="Password">Пароль</label>
            <span asp-validation-for="Password"></span>
        </div>

        <div class="form-label-group">
            <input class="form-control" type="password" asp-for="ConfirmPassword" id="ConfirmPassword" maxlength="50" placeholder="Подтверждение пароля" />
            <label asp-for="ConfirmPassword" for="ConfirmPassword">Подтверждение пароля</label>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <div class="checkbox mb-3">
            <label asp-for="issupplier">Поставщик</label>
            <input type="checkbox" asp-for="issupplier">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
    </form>
</div>