@model Labs.ViewModels.RegisterViewModel

<h2>Регистрация</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    @Html.ValidationSummary()
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div>
            <label asp-for="Email">Введите Email</label><br />
            <input type="email" asp-for="Email" maxlength="50" />
            <span asp-validation-for="Email" />
        </div>
        <div>
            <label asp-for="Password">Введите пароль</label><br />
            <input type="password" asp-for="Password" maxlength="50" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Повторите пароль</label><br />
            <input type="password" asp-for="ConfirmPassword" maxlength="50" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div>
            <label asp-for="issupplier">Поставщик</label><br />
            <input type="checkbox" asp-for="issupplier"/>
        </div>
        <br />
        <div>
            <input type="submit" value="Регистрация" />
        </div>
    </div>
</form>