@model IEnumerable<Labs.Models.Client>
@{ ViewBag.Title = "Список клиентов"; }

<div class="container" style="padding: 15px;">
    <a class="btn btn-primary" asp-action="Create" asp-controller="Client">Добавить клиента</a>

    <table class="table">
        <tr><th>Паспорт</th><th>Адрес</th><th></th><th></th></tr>
        @foreach (var cl in Model)
        {
<tr>
    <td>@cl.id_passport</td>
    <td>@cl.id_address</td>
    <td>
        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@cl.Id">Изменить</a>
        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@cl.Id">Удалить</a>
    </td>
</tr>
}
    </table>
</div>