@model Labs.ViewModels.CreateBankViewModel
@{
    ViewBag.Title = "Добавление банка";
}
    <form asp-action="Create" asp-controller="Bank">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="bank_name" class="control-label">Название</label>
            <input type="text" asp-for="bank_name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="bank_account" class="control-label">Номер расчётного счёта</label>
            <input type="text" asp-for="bank_account" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="innclient" class="control-label">Учётный номер плательщика(УНП,ИНН)</label>
            <input type="number" asp-for="innclient" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="bank_bik" class="control-label">Банковский идентификационный код(БИК)</label>
            <input type="number" asp-for="bank_bik" class="form-control" />
        </div>
        <fieldset title="Address">
            <legend>Адрес</legend>
            <div class="form-group">
                <label asp-for="country" class="control-label">Страна</label>
                <input type="text" asp-for="country" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="region" class="control-label">Область</label>
                <input type="text" asp-for="region" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="district" class="control-label">Регион</label>
                <input type="text" asp-for="district" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="type1" class="control-label">Тип населённого пункта</label>
                <select asp-for="type1" asp-items="Html.GetEnumSelectList<TypeCity>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label">Город</label>
                <input type="text" asp-for="city" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="type2" class="control-label">Тип улицы</label>
                <select asp-for="type2" asp-items="Html.GetEnumSelectList<TypeStreet>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="street" class="control-label">Улица</label>
                <input type="text" asp-for="street" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="num1" class="control-label">Дом</label>
                <input type="text" asp-for="num1" class="form-control" />
            </div>
            <div>
                <label asp-for="num2" class="control-label">Номер корпуса</label>
                <input type="number" asp-for="num2" class="form-control" />
            </div>
            <div>
                <label asp-for="num3" class="control-label">Номер квартиры</label>
                <input type="number" asp-for="num3" class="form-control" />
            </div>
            <div>
                <label asp-for="index" class="control-label">Почтовый индекс</label>
                <input type="number" asp-for="index" class="form-control" />
            </div>
            <div>
                <label asp-for="num4" class="control-label">Домашний телефон</label>
                <input type="number" asp-for="num4" class="form-control" />
            </div>
            <div>
                <label asp-for="code" class="control-label">Телефонный код оператора</label>
                <input type="number" asp-for="code" class="form-control" />
            </div>
            <div>
                <label asp-for="mobile" class="control-label">Мобильный телефон</label>
                <input type="number" asp-for="mobile" class="form-control" />
            </div>
            <div>
                <label asp-for="email" class="control-label">Почта</label>
                <input type="email" asp-for="email" class="form-control" />
            </div>
        </fieldset>

        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
        </div>
    </form>