@model Labs.ViewModels.CreateCarViewModel
@{
    ViewBag.Title = "Добавление машины";
}
    <form asp-action="Create" asp-controller="Car">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Mark" class="control-label">Марка</label>
            <input type="text" asp-for="Mark" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Model" class="control-label">Модель</label>
            <input type="text" asp-for="Model" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Color" class="control-label">Цвет</label>
            <input type="text" asp-for="Color" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Goverment_number" class="control-label">Гос. Номер</label>
            <input type="text" asp-for="Goverment_number" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Year" class="control-label">Год</label>
            <input type="number" asp-for="Year" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="id_supplier" class="control-label">Поставщик</label>
            <select asp-for="id_supplier" asp-items="ViewBag.Suppliers"></select>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label">Цена/час</label>
            <input type="number" asp-for="Price" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
        </div>
    </form>