@model Labs.ViewModels.EditCarViewModel
@{ ViewBag.Title = "Изменение машины"; }

<div class="container sm">
    <div class="container">
        <form asp-action="Edit" asp-controller="Car" enctype="multipart/form-data" method="post">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Редактирование автомобиля</h1>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="status" value=@Model.status />
            <input type="hidden" asp-for="Id" value=@Model.Id />
            <input type="hidden" asp-for="id_supplier" value=@Model.id_supplier />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Mark" class="control-label">Марка</label>
                    <select name="mark" asp-items="ViewBag.Marks" class="form-control" asp-for="Mark"></select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Model" class="control-label">Модель</label>
                    <input type="text" asp-for="Model" class="form-control" required/>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Color" class="control-label">Цвет</label>
                    <input type="text" asp-for="Color" class="form-control" required/>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Year" class="control-label">Год</label>
                    <input min="0" type="number" asp-for="Year" class="form-control" required/>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Goverment_number" class="control-label">Гос. Номер</label>
                <input type="text" asp-for="Goverment_number" class="form-control" required/>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена/час</label>
                <input min="0" type="number" asp-for="Price" class="form-control" required/>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="country" class="control-label">Страна</label>
                    <input type="text" asp-for="country" class="form-control" required/>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="city" class="control-label">Город</label>
                    <input type="text" asp-for="city" class="form-control" required/>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Image" class="control-label">Фото</label>
                <input class="form-control-file" type="file" id="imageinput" asp-for="Image" name="Image" accept="image/*" />
            </div>

            <div id="preview">
                <img class="imgcar1" src="@Url.Action("GetImage", "Car", new { id=Model.Id })" />
            </div>

            <div class="form-group button-group">
                <input type="submit" value="Сохранить" class="btn btn btn-primary" />
                <a href='javascript:history.go(-1)' class="btn btn-primary-dark">Отмена</a>
            </div>
        </form>

        @section scripts
    {
            <script type="text/javascript">
                const inputElement = document.getElementById("imageinput");
                inputElement.files[0] =
                    inputElement.addEventListener("change", function (e) {
                        var file = inputElement.files[0];
                        var preview = document.getElementById("preview");
                        preview.innerHTML = "";
                        var img = document.createElement("img");
                        img.classList.add("imgcar1");
                        img.file = file;
                        preview.appendChild(img);
                        var reader = new FileReader();
                        reader.onload = (function (aImg) { return function (e) { aImg.src = e.target.result; }; })(img);
                        reader.readAsDataURL(file);
                    }, false);

            </script>
        }
    </div>
</div>