@model Labs.ViewModels.CreateSaleViewModel
@{ ViewBag.Title = "Аренда машины"; }

<div class="container sm">
    <div class="container">
        <form asp-action="Create" asp-controller="Sale">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Оформление аренды</h1>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="id_car" value="@Model.id_car" class="form-control" />

            <div class="form-group">
                <label class="control-label">Стоимость аренды/час = @Model.rentprice</label>
                <input type="hidden" asp-for="rentprice" value="@Model.rentprice" class="form-control" id="rentprice" />
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="date2" class="control-label">Начало аренды</label>
                    <input type="datetime-local" asp-for="date2" class="form-control" id="inputdate2" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="date3" class="control-label">Окончание аренды</label>
                    <input type="datetime-local" asp-for="date3" class="form-control" id="inputdate3" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Сумма к оплате</label>
                <input type="number" asp-for="summ" class="form-control" id="price" readonly />
            </div>

            <div class="form-group button-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-controller="Car" asp-action="Index" class="btn btn-primary-dark">Отмена</a>
            </div>
        </form>

        @section scripts{
            <script type="text/javascript">

                function diffDates(day_one, day_two) {
                    return (day_one - day_two) / (60 * 60 * 1000);
                };

                Number.prototype.AddZero = function (b, c) {
                    var l = (String(b || 10).length - String(this).length) + 1;
                    return l > 0 ? new Array(l).join(c || '0') + this : this;
                };
                var d = new Date();
                var localDateTime = [d.getFullYear(), (d.getMonth() + 1).AddZero(), d.getDate().AddZero()].join('-') + 'T' + [d.getHours().AddZero(), d.getMinutes().AddZero()].join(':');
                var inputdate2 = document.getElementById("inputdate2");
                inputdate2.value = localDateTime;
                var inputdate3 = document.getElementById("inputdate3");
                inputdate3.value = localDateTime;

                var price = document.getElementById("price");
                var rentprice = document.getElementById("rentprice");
                inputdate2.addEventListener("change", function (e) {
                    if (new Date(inputdate3.value) < new Date(inputdate2.value)) {
                        alert("Неверная дата аренды.");
                        return;
                    }
                    price.value = diffDates(new Date(inputdate3.value), new Date(inputdate2.value)) * rentprice.value;
                }, false);
                inputdate3.addEventListener("change", function (e) {
                    if (new Date(inputdate3.value) < new Date(inputdate2.value)) {
                        alert("Неверная дата аренды.");
                        return;
                    }
                    price.value = diffDates(new Date(inputdate3.value), new Date(inputdate2.value)) * rentprice.value;
                }, false);
            </script>
        }
    </div>
</div>