@{ ViewBag.Title = "Аренда оплачена"; }
<div class="container sm">
    <div class="container">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Аренда оплачена</h1>
        </div>
        <a asp-controller="Sale" asp-action="IndexByClient" class="btn btn-primary-dark">Назад</a>
    </div>
</div>