@model Labs.ViewModels.PayViewModel
@{
    ViewBag.Title = "Оплата";
}
<h2>Оплата аренды @Model.SaleId</h2>
<div>
    <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
        <input name="label" value="@Model.SaleId" type="hidden">
        <input name="receiver" value="4100111282324678" type="hidden">
        <input name="quickpay-form" value="shop" type="hidden">
        <input type="hidden" name="targets" value="Оплата заказа @Model.SaleId">
        <label for="sum">Сумма: </label><br />
        <input name="sum" value="@Model.Sum" maxlength="10" data-type="number" type="text" readonly><br /><br />
        <label for="sum">Способ оплаты: </label><br />
        <input type="radio" name="paymentType" value="PC">Яндекс.Деньгами
        <input type="radio" name="paymentType" value="AC">Банковской картой<br /><br />
        <input type="submit" name="submit-button" value="Оплатить">
        <input name="successURL" value="https://labs20201111132228.azurewebsites.net/Sale/Paid" type="hidden">
        <input name="quickpay-back-url" value="https://labs20201111132228.azurewebsites.net/" type="hidden">
    </form>
</div>