@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>

    <a asp-controller="Users" asp-action="Index">Пользователи</a>
    <br />
    <a asp-controller="Bank" asp-action="Index">Банки</a>
    <br />
    <a asp-controller="Supplier" asp-action="Index">Поставщики</a>
    <br />
    <a asp-controller="Car" asp-action="Index">Машины</a>
    <br />
    <a asp-controller="Client" asp-action="Index">Клиенты</a>
    <br />
    <a asp-controller="Sale" asp-action="Index">Продажи</a>
    <br />
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}